body {
    margin: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
}
.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    position: fixed;
    top: 100vh;
}

.page.show {
    top: 0;
}

#choose {
    background-color: rgb(251, 189, 189);
}

#btnContainer {
    display: flex;
    justify-content: center;
    
}

#playerA {
    box-shadow: 0px 0px 10px rgb(196, 0, 196);
    border: 2px solid rgb(214, 1, 214);
}

#playerB {
    box-shadow: 0px 0px 10px rgb(216, 117, 11);
    border: 2px solid rgb(225, 119, 6);
}

#playerA, #playerB  {
    margin: 20px;
    transition: 0.3s;
    height: 80px;
    width: 200px;
    font-size: 2rem;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.854);
}

#playerA:hover, #playerB:hover {
    scale: 1.1;
    transform: translateY(-8px);
}